@charset "UTF-8";

/*----------------------------------------------
  ショップ  >  注文完了  >  外枠
----------------------------------------------*/
.main-container {
  width: 660px;
  margin: 0 auto;
}

.complete-container {
  margin: 65px 0px;
  padding: 40px 0px 48px 0px;
}

/*----------------------------------------------
  ショップ  >  注文完了  >  タイトル表示位置
----------------------------------------------*/
.title-container {
  text-align: center;
}

/*----------------------------------------------
  ショップ  >  注文完了  >  本文
----------------------------------------------*/
.complete-message {
  margin-top: 42px;
  text-align: center;
}

/* 最初のpタグにのみ適用 */
.complete-message p:first-child {
  margin-bottom: 20px;
  font-size: 18px;
}

/*----------------------------------------------
  ショップ  >  注文完了  >  注文番号
----------------------------------------------*/
.order-number {
  margin-top: 42px;
  text-align: center;
}

.order-number-label {
  font-size: 20px;
}

.order-number-value {
  color: var(--color-gray-800);
  font-size: 22px;
  font-weight: bold;
}

/*----------------------------------------------
  ショップ  >  注文完了  >  ボタン項目
----------------------------------------------*/
.button-content {
  margin-top: 42px;
}

.previous-button {
  display: flex;
  justify-content: center;
}