@charset "UTF-8";

/*----------------------------------------
  ショップ  >  フッター  >  全体
----------------------------------------*/
.footer {
  margin-top: auto;
  background-color: var(--color-gray-800);
  color: var(--color-gray-300);
}

/*----------------------------------------
  ショップ  >  フッター  >  フッター内部
----------------------------------------*/
.footer-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

/*----------------------------------------
  ショップ  >  フッター  >  コピーライト
----------------------------------------*/
.footer-copy {
  font-style: italic;
}

/*----------------------------------------
  ショップ  >  フッター  > フッター固定用
----------------------------------------*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* 最小でも画面に映っている高さを持たせる */
}