<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <title>管理画面ログイン</title>
</head>

<body>
    <div class="admin">
        <h2>管理画面ログイン</h2>
        <form th:action="@{/login}" method="post">
            <div>
                <h3> userName</h3>
                <input type="text" name="username">
            </div>
            <div>
                <h3>password</h3>
                <input type="password" name="password">
            </div>
            <button type="submit">ログイン</button>

        </form>
    </div>
</body>

</html>