body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    max-width: 100%;
    overflow-x: hidden;
}

/* ヘッダー */
header {
    background-color: rgb(250, 253, 255);
    box-shadow: 1px 0.1px 0.1px 1px rgba(133, 133, 133, 0.37);
    position: fixed;
    width: 100%;
    z-index: 100;

}

header h1 {
    font-size: 25px;
    padding: 20px;
    color: rgba(212, 212, 212, 0.986);

}

header h1 a {
    color: black;
}

header a {
    text-decoration: none;

}

header h1 :hover {
    font-size: 26px;
    transition-duration: 0.3s;

}

header ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    background-color: rgba(240, 248, 255, 0.979);


}

header li {
    text-decoration: none;
    margin: 0.5px;
    box-shadow: 1px 0.1px 0.1px 1px rgba(226, 226, 226, 0.562);
    padding: 3px;
    color: #757575;

}

header li:hover {
    background-color: rgba(0, 0, 0, 0.349);
    transition-duration: 0.3s;
    color: rgb(206, 206, 206);
}

.gNav {
    overflow: hidden;
    max-height: 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 0.4s ease, opacity 0.4s ease;
    z-index: 200;



}

.gNav.show {
    transform: translateY(0);
    max-height: 500px;
    opacity: 1;
    z-index: 200;



}

/* ハンバーガーアイコン */

.menuBtn {
    width: 55px;
    height: 55px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffffd3;
    position: fixed;
    top: 6px;
    right: 6px;
    cursor: pointer;
    z-index: 399;
    border: 1px solid #03030373;
}

.menuLine {
    background-color: rgb(5, 5, 5);
    display: block;
    height: 2px;
    width: 30px;
    position: relative;
    transform: all 0.3s;

}

.menuLine::before,
.menuLine::after {
    content: "";
    display: block;
    height: 2px;
    width: 30px;
    position: absolute;

    transition: all 0.3s;
}

.menuLine::before {
    top: -10px;
    background: #000000;
}

.menuLine::after {
    top: 10px;
    background: #000000;
}

.menuLine.active {
    background: transparent;
}

/* 変形時 */
.menuLine.active::before {
    transform: rotate(45deg);
    top: 0;
}

.menuLine.active::after {
    transform: rotate(-45deg);
    top: 0;
}

/* メイン */
main {
    color: #757575;
    padding-top: 70px;
}

.intoro {
    background-image: url(/imgs/mainbyu.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    max-width: 100;
    padding-top: 150px;
    padding-bottom: 150px;
    box-shadow: 1px 0.1px 0.1px 1px rgba(226, 226, 226, 0.562);

}

.intoro h1 {
    font-size: 20px;
    color: #000000;

}

.intoro p {
    font-size: 15px;
    color: #000000
}

.intoroH1 h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 5%;
    border-bottom: solid 2px;
    border-left: solid 3px;
    color: #000000;
}

.syoukai {
    text-align: center;
    background-color: rgba(235, 235, 235, 0.274);
    margin: 20px 5% 20px 5%;
    padding: 10px 0 10px 0;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: 1px 0.1px 0.1px 1px rgba(226, 226, 226, 0.562);

}

.in h1 {
    font-size: 30px;
    margin-left: 5%;
    border-bottom: solid #000000 2px;
    border-left: solid #000000 3px;
    color: #000000;
}

.fall {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;



}

.fall img {
    max-width: 100px;
    max-height: auto;
    border-radius: 30px;
    margin: 0 10px 0 10px;
}

/* フェイド系 */
.fade {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}

/* スクロール系 */

.scroll {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

/* 初期状態 */
.scroll img {
    width: 100%;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* 表示状態 */
.scroll.show img {
    opacity: 1;
    transform: translateY(0);
}

.scroll img:nth-child(1) {
    transition-delay: 0.1s;
}

.scroll img:nth-child(2) {
    transition-delay: 0.2s;
}

.scroll img:nth-child(3) {
    transition-delay: 0.3s;
}

.scroll img:nth-child(4) {
    transition-delay: 0.4s;
}

.scroll img:nth-child(5) {
    transition-delay: 0.5s;
}

.scroll img:nth-child(6) {
    transition-delay: 0.6s;
}


/* カルーセル */
.imgBox a {
    flex: 0 0 100%;
    align-items: center;

}

.imgBox img {
    height: 100%;
}

.carusel {
    display: flex;
    overflow-x: hidden;
    
}
.imgBox {
    display: flex;
    width: 100%;
    align-items: center;
    transition: transform 0.5s ease;
    
}

.imgBox img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel .nav {
    margin: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.carousel .indicator {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}
.carousel .prev,.carousel .next{
    background-color: #e0e0e0b7;
    border-radius: 15px;
    border: #dadada;
    box-shadow: 1px 0.1px 0.1px 1px rgba(226, 226, 226, 0.562);
    padding: 5px 10px;
    color: rgb(189, 189, 189);
    
}

.carousel .indicator li {
    width: 13px;
    height: 13px;
    margin: 0 7px;
    background-color: #b9bbb9;
    border-radius: 100%;
    cursor: pointer;
}

.carousel .indicator li.current {
    background-color: #696969b9;
}


/* フッター */
footer {
    background-color: rgba(250, 250, 250, 0.788);
    border-top: solid 1px rgba(175, 175, 175, 0.555);
    color: #757575;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0;
}